css

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;

}
#resultsContainer {
  display: flex;
  flex-direction: column; /* Empile les enfants verticalement */
  gap: 10px;              /* Espace entre les résultats */
  margin-top: 20px;
}
	
	    .checkbox-container {
      display: flex;
      align-items: center;
      margin-top: 10px;
      gap: 8px;
    }
    .checkbox-container label {
      margin: 0;
      font-size: 15px;
    }
	.tab {
    display: inline-block;
    background: #eee;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    margin-right: 5px;
  }
  .tab.active {
    background: #27ae60;
    color: white;
  }
  .tab-content {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    padding: 20px;
    background: white;
    border-radius: 0 0 5px 5px;
  }
  .tab-content.active {
    display: block;
.resultBox {
  flex: 1;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.checkbox-label {
  display: flex;
  align-items: center; /* aligne verticalement */
  gap: 8px; /* espace entre la case et le texte */
}

.checkbox-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.checkbox-container label {
  margin: 0;
  cursor: pointer;
  font-size: 15px;
  color: #333;
}